# Dependencies
node_modules
**/node_modules

# Logs
*.log*
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temp directories
.temp
.tmp
.cache

# Yarn
**/.yarn/cache
**/.yarn/*state*
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Generated dirs
dist
build
*.tsbuildinfo

# Nuxt
.nuxt
.output
.data
.vercel_build_output
.build-*
.netlify

# NestJS
dist/
*.js.map
*.d.ts.map

# Env
.env
.env.local
.env.*.local

# Testing
reports
coverage
*.lcov
.nyc_output
test-results/
playwright-report/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Intellij idea
*.iml
.idea

# OSX
.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Prisma
prisma/migrations/

# Docker
.docker/
docker-compose.override.yml
*.log
